* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #181818;
  font-weight: 600;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

header {
  font-size: 13px;
  color: #181818;
  font-weight: 600;
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
header .navbar .logo__small {
  display: none;
  margin-left: 20px;
  margin-right: auto;
  width: 48px;
}
header .navbar .logo__small img {
  width: 100%;
}
header .navbar .logo img {
  width: 80px;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
header .navbar .navbar-collapse .collapse__content {
  display: flex;
  justify-content: flex-end;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav {
  align-items: center;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .nav-item {
  font-size: 13px;
  color: #181818;
  font-weight: 600;
  margin: 0 40px 0 0;
  line-height: 80px;
  position: relative;
  transition: all 0.3s;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .nav-item.scrollNavItem {
  line-height: 48px;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .nav-item:after {
  content: " ";
  position: absolute;
  z-index: 5;
  bottom: -4px;
  margin-left: -4px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  display: block;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.3s;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .nav-item.active:after {
  visibility: visible;
  transform: scale(1);
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .nav-item:hover {
  color: #b61984;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .nav-item:hover:after {
  visibility: visible;
  transform: scale(1.5);
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .social__icons {
  font-weight: 400;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .social__icons .fab {
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.25s;
}
header .navbar .navbar-collapse .collapse__content .navbar-nav .social__icons .fab:hover {
  color: #b61984;
}

@media screen and (max-width: 1199.98px) {
  header {
    background-color: #ffffff;
  }
  header #logo {
    display: none;
  }
  header #logo__small {
    display: block;
  }
  header #navbarSupportedContent .collapse__content {
    display: block;
  }
  header #navbarSupportedContent .nav-link {
    text-align: center;
    margin-right: 0;
  }
  header #navbarSupportedContent .btn-header {
    margin-top: 20px;
  }
  header #navbarSupportedContent .social__icons {
    padding: 20px 0;
  }
}
.btn-header {
  background: transparent;
  box-shadow: 0 0 0 3em #b61984 inset;
  padding: 12px 23px;
  border: none;
  border-radius: 50px;
  letter-spacing: 0.03rem;
  font-size: 13.5px;
  color: #ffffff;
  font-weight: 500;
  margin: 6px;
  transition: all 300ms ease;
}
.btn-header:hover {
  background: transparent;
  box-shadow: 0 0 0 1px #b61984 inset;
  border-color: #b61984;
  color: #b61984;
}
.btn-header:focus {
  outline: none;
}

.btn-footer {
  width: 100% !important;
  background: transparent;
  box-shadow: 0 0 0 3em #ffffff inset;
  padding: 14px 23px;
  border: none;
  border-radius: 50px;
  letter-spacing: 0.08rem;
  font-size: 12px;
  color: #181818;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  transition: all 300ms ease;
}
.btn-footer:hover {
  background: transparent;
  box-shadow: 0 0 0 1px #ffffff inset;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-footer:focus {
  outline: none;
}

#banner {
  padding: 60px 0;
  position: relative;
}
#banner .top__pattern {
  position: absolute;
  top: 0;
  bottom: "";
  left: 0;
  right: 0;
}
#banner .top__pattern img {
  width: 100%;
  height: auto;
  display: block;
}
#banner .banner__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#banner .banner__text p {
  font-size: 16.5px;
  color: #b61984;
  font-weight: 600;
  margin-bottom: 8.25px;
}
@media screen and (max-width: 1199.98px) {
  #banner .banner__text p {
    font-size: 14.25px;
  }
}
#banner .banner__text h1 {
  font-size: 57px;
  color: #181818;
  font-weight: 700;
}
@media screen and (max-width: 1199.98px) {
  #banner .banner__text h1 {
    font-size: 47px;
  }
}
#banner .bottom__pattern {
  position: absolute;
  top: "";
  bottom: 0;
  left: 0;
  right: 0;
}
#banner .bottom__pattern img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  background-image: url("./../../images/footer_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}
footer .container {
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: "Robotto", sans-serif;
  font-size: 13.5px;
  color: #ffffff;
  font-weight: 500;
}
footer .container .footer__col {
  padding: 0 40px;
}
@media screen and (max-width: 1199.98px) {
  footer .container .footer__col {
    padding: 0 15px;
  }
}
footer .container .footer__col .footer__headline {
  font-family: "Montserrat", sans-serif;
  font-size: 23.25px;
  color: #ffffff;
  font-weight: 700;
  line-height: 27.9px;
  margin-bottom: 30px;
}
footer .container .footer__col .footer__info__item {
  align-items: center;
  margin-bottom: 15px;
}
footer .container .footer__col .footer__info__item span {
  margin-left: 10.8px;
}
footer .container .footer__col .footer__social {
  cursor: pointer;
}
footer .container .footer__col .footer__social i {
  margin-right: 15px;
  transition: all 0.3s;
}
footer .container .footer__col .footer__social i:hover {
  color: black;
}
footer .container .footer__col .footer__links {
  margin-top: -10px;
}
footer .container .footer__col .footer__links .footer__link {
  position: relative;
  padding: 10px 0;
}
footer .container .footer__col .footer__links .footer__link a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
footer .container .footer__col .footer__links .footer__link a:hover {
  opacity: 0.8;
}
footer .container .footer__col .footer__links .footer__link::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 0.1px;
  background: rgb(46, 46, 46);
  left: 0;
  bottom: 5px;
}
footer .container .footer__col .footer__subscribe .footer__email {
  padding-bottom: 7.5px;
}
footer .container .footer__col .footer__subscribe .footer__email input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  outline: none;
  width: 100%;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: white;
  text-align: center;
  transition: all 0.3s;
}
footer .container .footer__col .footer__subscribe .footer__email input::placeholder {
  color: white;
}
footer .container .footer__col .footer__subscribe .footer__email input:focus {
  border: 1px solid rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */