#banner {
  padding: $py-section;
  position: relative;
  .top__pattern {
    @include backgroundPattern(0, '');
  }
  .banner__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    p {
      @include styleText($fs-banner-2, $color-second, $fw-main);
      margin-bottom: 8.25px;
      @include responsive('extra-large-down') {
        font-size: $fs-banner-1;
      }
    }
    h1 {
      @include styleText($fs-banner-4, $color-main, 700);
      @include responsive('extra-large-down') {
        font-size: $fs-banner-3;
      }
    }
  }
  .bottom__pattern {
    @include backgroundPattern('', 0);
  }
}
