footer {
  background-image: url('./../../images/footer_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  padding-bottom: 80px;
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: 'Robotto', sans-serif;
    @include styleText($fs-footer-link, $color-white, $fw-footer-link);

    .footer__col {
      padding: 0 40px;
      @include responsive('extra-large-down') {
        padding: 0 15px;
      }
      .footer__headline {
        font-family: 'Montserrat', sans-serif;
        @include styleText($fs-footer-headline, $color-white, $fw-footer-headline);
        line-height: 27.9px;
        margin-bottom: 30px;
      }
      .footer__info__item {
        align-items: center;
        margin-bottom: 15px;
        span {
          margin-left: 10.8px;
        }
      }
      .footer__social {
        cursor: pointer;
        i {
          margin-right: 15px;
          transition: all 0.3s;
          &:hover {
            color: $color-main;
          }
        }
      }
      .footer__links {
        margin-top: -10px;
        .footer__link {
          position: relative;
          padding: 10px 0;
          a {
            color: $color-white;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .footer__link::after {
          content: '';
          position: absolute;
          width: 30%;
          height: 0.1px;
          background: $color-main;
          opacity: 30%;
          left: 0;
          bottom: 5px;
        }
      }
      .footer__subscribe {
        .footer__email {
          padding-bottom: 7.5px;
          input {
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 50px;
            outline: none;
            width: 100%;
            background: transparent;
            line-height: 1;
            display: block;
            padding: 1em;
            color: $color-white;
            text-align: center;
            transition: all 0.3s;
            &::placeholder {
              color: $color-white;
            }
            &:focus {
              border: 1px solid rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }
}
