header {
  @include styleText($fs-main, $color-main, $fw-main);
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  .navbar {
    .logo__small {
      display: none;
      margin-left: 20px;
      margin-right: auto;
      width: 48px;
      img {
        width: 100%;
      }
    }
    .logo {
      img {
        width: 80px;
      }
    }
    .navbar-collapse {
      justify-content: flex-end;
      .collapse__content {
        display: flex;
        justify-content: flex-end;
        .navbar-nav {
          align-items: center;
          .nav-item {
            @include styleText($fs-main, $color-main, $fw-main);
            margin: 0 40px 0 0;
            line-height: 80px;
            position: relative;
            transition: all 0.3s;
            &.scrollNavItem {
              line-height: 48px;
            }
            &:after {
              content: ' ';
              position: absolute;
              z-index: 5;
              bottom: -4px;
              margin-left: -4px;
              left: 50%;
              pointer-events: none;
              height: 8px;
              width: 8px;
              border-radius: 50%;
              background-color: $color-second;
              display: block;
              visibility: hidden;
              transform: scale(0);
              transition: all 0.3s;
            }
            &.active:after {
              visibility: visible;
              transform: scale(1);
            }
            &:hover {
              color: $color-second;
            }
            &:hover:after {
              visibility: visible;
              transform: scale(1.5);
            }
          }
          .social__icons {
            font-weight: 400;
            .fab {
              cursor: pointer;
              margin-left: 10px;
              transition: all 0.25s;
              &:hover {
                color: $color-second;
              }
            }
          }
        }
      }
    }
  }
}

//responsive

@include responsive('extra-large-down') {
  header {
    background-color: $color-white !important;

    #logo {
      display: none !important;
    }
    #logo__small {
      display: block !important;
    }

    #navbarSupportedContent {
      .collapse__content {
        display: block;
      }
      .nav-link {
        text-align: center;
        margin-right: 0;
      }
      .btn-header {
        margin-top: 20px;
      }
      .social__icons {
        padding: 20px 0;
      }
    }
  }
}
