@mixin styleText($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin styleButton($bg, $sha, $pd-y, $pd-x, $bd, $radius, $ls) {
  background: $bg;
  box-shadow: $sha;
  padding: $pd-y $pd-x;
  border: $bd;
  border-radius: $radius;
  letter-spacing: $ls;
}

@mixin styleButtonHover($bg, $sha, $bd-color, $color) {
  background: $bg;
  box-shadow: $sha;
  border-color: $bd-color;
  color: $color;
}

@mixin backgroundPattern($top, $bottom) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: 0;
  right: 0;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@mixin screenMax($max-screenWidth) {
  @media screen and (max-width: $max-screenWidth) {
    @content;
  }
}
@mixin screenMin($min-screenWidth) {
  @media screen and (min-width: $min-screenWidth) {
    @content;
  }
}

@mixin responsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "screen parameter isn't in breakpoint";
  }
}
