@mixin styleText($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin screenMax($max-screenWidth) {
  @media screen and (max-width: $max-screenWidth) {
    @content;
  }
}
@mixin screenMin($min-screenWidth) {
  @media screen and (min-width: $min-screenWidth) {
    @content;
  }
}

@mixin responsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "`{$screen}` isn't in breakpoint";
  }
}
