//font
$ff-main: 'Montserrat', sans-serif;
$fs-main: 13px;
$fw-main: 600;
$lh-main: 80px;
$fs-cta: 13.5px;
$fw-cta: 500;
$lh-cta: 1;

//color
$color-main: #181818;
$color-sub: #b61984;
$color-violet: #dcd1f3;

$py-section: 60px 0;

//break points
$breakpoints: (
  'extra-large': 1200px,
  'large': 992px,
  'medium': 768px,
  'small': 576px,
  'extra-large-down': 1199.98px,
  'large-down': 991.98px,
  'medium-down': 767.98px,
  'small-down': 575.98px,
);
