//font
$ff-main: 'Montserrat', sans-serif;
$fs-main: 13px;
$fw-main: 600;
$lh-main: 80px;
$fs-cta: 13.5px;
$fw-cta: 500;
$lh-cta: 1;

//color
$color-main: #181818;
$color-sub: #b61984;
$color-violet: #dcd1f3;

$py-section: 60px 0;
