//color
$color-main: #181818;
$color-second: #b61984;
$color-violet: #dcd1f3;
$color-white: #ffffff;

//font
$ff-main: 'Montserrat', sans-serif;
$ff-second: 'Robotto', sans-serif;
$fs-main: 13px;
$fw-main: 600;
$lh-main: 80px;

$fs-btn-1: 13.5px;
$fw-btn-1: 500;
$fs-btn-2: 12px;
$fw-btn-2: 600;
$fs-btn-3: 12px;
$fw-btn-3: 600;
$lh-btn: 1;

$fs-banner-1: 14.25px;
$fs-banner-2: 16.5px;
$fs-banner-3: 47px;
$fs-banner-4: 57px;

$fs-footer-headline: 23.25px;
$fw-footer-headline: 700;
$fs-footer-link: 13.5px;
$fw-footer-link: 500;

$fs-member-1: 11.25px;
$fs-member-2: 23.25px;
$fs-member-3: 15px;
$fw-member-1: 600;
$fw-member-2: 700;
$fw-member-3: 400;

$fs-form-title: 37.5px;
$fw-form-title: 700;

//line spaceing:
$ls-1: 0.03rem;
$ls-2: 0.08rem;

//padding
$py-section: 60px 0;
$pd-1: 12px;
$pd-2: 23px;
$pd-3: 14px;
$pd-4: 15px;
$pd-5: 60px;

//margin
$mg-1: 6px;

//border
$bd-1: 50px;

//box-shadow
$sha: 0 0 0 3em $color-second inset;
$sha-hov: 0 0 0 1px $color-second inset;
$sha-footer: 0 0 0 3em $color-white inset;
$sha-hov-footer: 0 0 0 1px $color-white inset;

//break points
$breakpoints: (
  'extra-large': 1200px,
  'large': 992px,
  'medium': 768px,
  'small': 576px,
  'extra-large-down': 1199.98px,
  'large-down': 991.98px,
  'medium-down': 767.98px,
  'small-down': 575.98px,
);
